.card {
    position: relative;

    img {
        width: 55px;
        position: absolute;
        top: -11%;
        left: 6%;
    }
}

#card {
    border: none;
    border-left: 5px solid hsl(180, 29%, 50%);
}